@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poppins:wght@300&family=Righteous&display=swap');




* {

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;;
}

html{
    scroll-behavior: smooth;
}







body{
    min-height: 1000px;
    background: #202124;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;

}


header.sticky{

    padding: 20px 100px;
    background: #131313;
    border-bottom: 3px solid rgba(0,0,0,.1);
    opacity: 0.95;
    


}





header .logo{
    position: relative;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #CCCCCC;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}

header ul li a:hover{
    color: #2A7C62;

}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(images/fundo2.jpg);
    /* background: #131313; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}


.banner h2{
     color: #CCCCCC;
     font-size: 20px; 
    text-align: center;
    /* text-transform: uppercase; */
    /* line-height: 1em;  */
    font-weight: 200;
    letter-spacing: 2px;
}

.banner h2 span{
    color:#2A7C62;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}


.sec{
    /* background: #fff; */
    color: #CCCCCC;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content{
position: relative;
/* text-align: center; */
width: 100%;
}

.sec .content h3{
    position: relative;
    text-align: center;
    width: 100%;
    }

.mxw800p{
    max-width: 800px;
    margin: 0 auto;
}

h3{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;

}

p{
    position: relative;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.teamBx{

position: relative;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(230px, 4fr));
/* grid-gap: 15px; */
max-width: 100%;
margin-top: 40px;





}

.teamBx .member{
    position: relative;
    /* background: #602A7E; */
    min-height: 250px;
    width: 200px;
    /* margin: 0 auto; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 30px 0;

}

.teamBx .member .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teamBx .member .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A7C62;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member:hover .details{
    opacity: 1;
}


.teamBx .member .details h2{
    color: #CCCCCC;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;

}

.st{
    color: #131313;
    font-weight:bold;
}

.sec .contentcontato{
    position: relative;
    text-align: center;
    width: 100%;
    }


.copyright span{
        color: #2A7C62;
    }


.contact{
    background: #131313;
}

.ico{
    color:#CCCCCC;
}


.ico:hover{
    color: #2A7C62;
    cursor: pointer;
}

.icones{
    color: red;
    letter-spacing: 40px;
    

    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 0; */
    
    font-size: 43px;
    /* text-align: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
} 

